<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://JAVA.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>InsertData</servlet-name>
		<servlet-class>com.pp.InsertData</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InsertData</servlet-name>
		<url-pattern>/InsertData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Extra</servlet-name>
		<display-name>Extra</display-name>
		<description></description>
		<servlet-class>com.pp.Extra</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Extra</servlet-name>
		<url-pattern>/Extra</url-pattern>
	</servlet-mapping>

</web-app>
